body{
    background-color: #252525;
    font-family: 'Cantarell', sans-serif;
    color: #FFFFFF;
    font-size: 1em;
    line-height: 140%;
    }

    li{
        margin: 10px 0;
    }
    .title{
      font-family: 'Rancho',cursive;
      font-size: 2.6rem;
    }
    .subtitle{
      font-family: 'Lato',sans-serif;
      font-weight: bold;
      color: #ff372d ;
      font-size: 1.2rem;
    }

    #middle{
      margin: 22vh 0 0 0;
    }
    .inner {
    display: table;
    margin: 0 auto; 
    }
    figure {
    display: inline-block;
    }

    @keyframes colors {
      0% { filter:hue-rotate(5deg);}
      10% { filter:hue-rotate(75deg);}
      20% { filter:hue-rotate(25deg);}
      30% { filter:hue-rotate(255deg);}
      40% { filter:hue-rotate(155deg);}
      50% { filter:hue-rotate(35deg);}
      60% { filter:hue-rotate(205deg);}
      70% { filter:hue-rotate(125deg);}
      80% { filter:hue-rotate(185deg);}
      90% { filter:hue-rotate(225deg);}
      100% { filter:hue-rotate(65deg);}

    }
    figure img {
        vertical-align: top;
    }
    figure img:hover {
      animation-duration: 1s;
      animation-name: colors;
      animation-iteration-count: infinite;
    }
    figure figcaption {
        font-family: 'Rancho',cursive;
        font-size: 2.5em;
        text-align: center;
    }
    #clear{
      font-family: 'Lato',sans-serif;
      font-size: 1.1em;
      margin-top: 4px;
    }
    .pure-u-lg-1-4{
      margin-left: 6vw;
      margin-right: 6vw;
    }
 a:link {
  color: #ff372d;
    text-decoration: none;
}

a:visited {
    color: #236bb2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #ff372d;
    text-decoration: none;
}
